@import "../../css-config/mixins.scss";
.chart_container{
    // height: 150vh;
    background-color: #DAD9FF;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0rem;

    @include md{
        flex-direction: row;
        padding: 2rem 0;
    }

    .left{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        @include md{
            justify-content: start;
        }
        
        svg{
            width: 14%;
            
            transform: rotate(90deg);
            @include md{
                transform: rotate(0deg);
                justify-content: start;
                width: 46%;
            }
        }
    }
    .center{
        h1{
            text-align: center;
            margin-bottom: 2.8rem;
            font-size: 1.5rem;
            color: #3F0790;
            font-weight: 550;
        }
        width: 70%;
        padding: 2rem 0;
        @include md{
            width: 60%;
        }
        img{
            width: 100%;
        }
        .conclusion{
            text-align: center;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 1rem;
            color: #3F0790;
            font-weight: 550;
            font-size: 0.8rem;
        }
    }
    .right{
        width: 20%;
        // border: 2px solid ;
        display: none;
        position: absolute;
        right: 0;
        top: -6rem;
        @include md{
            display: block;
        }

        .rotate_icon{
        img {
                width: 100%;
                transform: rotate(360deg);
                animation: rotate 8s infinite;
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}