@import "../../css-config/mixins.scss";

.card{
    width: 190px;
    margin:0rem auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 0;
    position: relative;
    
    @include md{
        width: 180px;
    }

    .img{
        img{
            width: 100%;
        }
        .offericone{
            width: 40px;
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
        }
        
    }

        .name {
            font-size: 0.5rem;
    
            @include md {
                font-size: 1.1rem;
            }
        }

    .cta_add{
        color: #fff;
        background: #3f0791;
        box-shadow: none;
        padding: 0.3rem 25px;
        border-radius: 3rem;
        outline: none;
        border: none;
        margin: 0.5rem 0;
        cursor: pointer;

        @include md{
            padding: 0.7rem 50px;
        }
    }
}