.gradient_container{
    height: 100vh;
    background-color: #BFEFFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .g_box{
        width: 80%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
        }
    }

    .details{
        // border: 3px solid ;
        width: 60%;
        height: 70vh;
        position: absolute;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .vitamines1{
            width: 18%;
            
            .protine{
                // border: 2px solid ;
                margin: 3rem 0;
                h1{
                    font-size: 1.9rem;
                    font-weight: 550;
                    text-align: center;
                    color: #3F0791;
                }
                p{
                    text-align: center;
                    color: #3F0791;
                    margin-top: 1rem;
                }
            }
        }
        .vitamines2{
            width: 18%;

            .protine {
                    // border: 2px solid;
                    margin: 2rem 0;
            
                    h1 {
                        font-size: 1.9rem;
                        font-weight: 550;
                        text-align: center;
                        color: #3F0791;
                    }
            
                    p {
                        margin-top: 1rem;
                        text-align: center;
                        color: #3F0791;
                    }
                }
        }
    }
}