.gredient_container{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .gridient_box{
        max-width: 1200px;
        border: 2px solid ;
        height: 80vh;
        margin: 0 auto;
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .left{
            width: 5rem;
            border: 2px solid ;
            z-index: 2;
        }

        .center{
            z-index: 1;
        }

        .right{
            z-index: 2; 
            width: 5rem;
            border: 2px solid ;
        }
        
    }
}