.offer_box {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: multicolor 5s ease infinite;
}

@keyframes multicolor {
    0% {background-color: #D50AAD;}
    25% {background-color: #9D06CB;}
    75% {background-color: #9505CF;}
    100% {background-color: #7B03DD;}
}

